body {
  background: #333;
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: "Shock-Brat";
    src: url("assets/Shock-Brat.ttf")
}
.logo img {
    width: 30%;
    z-index: -1;
}
.logo {
    z-index: -1;
}
.header {
    height: 8%;
    width: 100%;
}
a {
    z-index: 9;
    text-decoration: none;
}
div.content {
    height: 100%;
}
.cards {
    display: flex;
    height: 100%;
}
.card {
    color: white;
    width: 60%;
    margin: 0 12%;
    border: 1px solid #444;
    height: 100%;
    border-radius: 5px;
    padding: 2% 10%;
}
.card .card-title {
    font-size: 24pt;
    font-family: "Shock-Brat";
    margin-left: -5%;
}
.card:first-child {
    margin-top: 5%;
}
@media screen and (max-width: 720px) {
    .logo {
        display: flex;
        justify-content: center;
        position: fixed;
    }
    .header {
        border: solid transparent 1px;
        width: 50%;
        
    }
    .discord a img {
        padding: 11%;
        width: 15%;
    }
    .cards {
        flex-direction: column;
    }
    .footer .desktop {
        display: none;
    }
}
@media screen and (min-width: 720px) {
    .discord a img {
        float: right;
        width: 10%;
        margin-top: -11.5%;
        margin-right: 5%;
        transform: scale(0.5);
    }
    .cards {
        flex-direction: row;
    }
    .card {
        margin: 0 20%;
    }
    .footer .mobile {
        display: none;
    }
    .underspace {
        font-size: 24pt;
    }
    .underspace span {
        transform: scale(1.5);
    }
    .card:first-child .card-title {
        font-size: 48pt;
        padding-bottom: 5%;
    }
}
.h {
    position: absolute;
    top: 200%;
}
.footer * .github-repo {
    transform: scale(0.3);
}
.footer .mobile .github-repo {
    position: absolute;
    bottom: -2%;
    left: -4%;
}
.footer .desktop {
    width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    background: #222;
    height: 4.5%;
    
}
div.underspace {
    width: 100%;
    margin-bottom: 2%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
div.underspace span {
    padding-right: 2%;
}
div.icons a img {
    width: 12%;
}
div.icons a *:not([src="assets/github-mark-white.svg"],[src="assets/steam-logo-white.png"]) {
    filter: invert(1);
}
[src="assets/steam-logo-white.png"] {
    transform: scale(2);
}
div.icons a {
    margin-right: 3%;
}
div.icons a:last-child {
    margin-right: 0;
}
[src="assets/threads.png"] {
    transform: scale(1.1);
}
div.icons {
    width: 100%;
    margin-top: 5%;
}
