div.header .container {
    display:inline-flex;
    width: 100%;
    padding: 48px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    gap: -0.219px;
    height: 80px;
    animation: header-fadein .3s normal both;
    animation-delay: 2.5s;
}
div.header .container div.navbar {
    display: flex;
    width: 72%;
    height: 40px;
    padding-left: 20px;
    justify-content: space-between;
}
div.header .container div.navbar div.tabs {
    display: flex;
    width: 450px;
    height: 40px;
    padding: 9px 19.781px 15px 20.219px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
span, a {
    color: #FFF;
    font-family: 'DM Mono Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div.header .container div.navbar div.tabs a.tab {
    font-size: 18px;
}
div.header .container div.navbar div.socials {
    display: flex;
    width: 180px;
    height: 36px;
    justify-content: flex-start;
    gap: 12px;
    flex-shrink: 0;
}
div.header .container div.navbar div.socials a:hover {
    filter: invert(1);
    cursor: pointer;
    border: 1px solid white;
    padding: 8px;
    background: black;
}
div.header .container div.navbar div.socials a {
    cursor: pointer;
    border: 1px solid white;
    padding: 8px;
    background: black;
    height: 30px;
    align-self: center;
}
div.header .container div.navbar div.socials img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    margin-top: -2%;
}