@import '../keyframes.css';

div.welcome-section {
    width: 100%;
    height: 582px;
    margin-top: 25px;
}
.welcome-section div.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    height: 582px;
    flex-direction: row;
    align-items: center;
}
.welcome-section div.container .title {
    color: white;
    position: relative;
    animation: header-fadein .3s normal both;
    animation-delay: 1.9s;
    top: 30%;
    font-family: "Audiowide Regular";
    font-size: 36pt;
}
button {
    padding: 10px 20px;
    background: #8DFD1B;
    text-transform: uppercase;
    font-size: 12pt;
    color: black;
    font-family: "DM Mono Regular";
    position: relative;
    
    top: 35%;
    border: none;
}
.welcome-section div.container div {
    display: block;
}
article {
    color: white;
}
.welcome-section div.container div.main-labels article {
    padding: 2%;
    font-size: 14pt;
    animation: header-fadein .3s normal both;
    animation-delay: 2s;
}
.welcome-section div.container div.main-labels button {
    margin-top: 10%;
    margin-left: 5%;
    animation: header-fadein .3s normal both;
    animation-delay: 2.1s;
}

.welcome-section div.container div.main-labels article span.react-glowing { color: rgb(13, 156, 217); }
.welcome-section div.container div.main-labels article span.figma-glowing { color: rgb(234, 76, 29); }
.welcome-section div.container div.main-labels article a.github-glowing { color: rgb(104, 66, 162); }

.welcome-section div.container div.main-labels {
    width: 40%;
    margin-top: -8%;
}
.welcome-section div.container div.skill-cards {
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -8%;
}
.welcome-section div.container div.skill-cards div.skill-card {
    width: 131px;
    height: 200px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(13, 156, 217) 35%, rgba(0,0,0,1) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 16px -10px rgba(255,255,255,0.5);
    animation: skill-card-fade .3s ease-in-out both;
    animation-delay: 2s;
}
.welcome-section div.container div.skill-cards div.skill-card:nth-child(1) {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(239, 177, 21) 35%, rgba(0,0,0,1) 100%);
    transform: scale(1.3);
    z-index: 1;
}
.welcome-section div.container div.skill-cards div.skill-card:nth-child(2) {
    transform: scale(2);
    z-index: 2;
    
}
.welcome-section div.container div.skill-cards div.skill-card:nth-child(3) {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(9, 57, 168) 35%, rgba(0,0,0,1) 100%);
    transform: scale(1.3);
    z-index: 1;
}
.welcome-section div.container div.skill-cards div.skill-card img {
    width: 60%;
    aspect-ratio: 1/1;
}